# PROJECT: Data Science Job Posting on Glassdoor

## UPLOAD LIBRARIES AND .CSV FILE

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Next line loads a CSV file called 'Uncleaned_DS_jobs.csv' into a DataFrame called 'df'. Use ';' as a delimiter, sets the 'id' column as the index and treats '#N/A' as a NaN value in the DataFrame. This code is useful when you need to work with employee data and want to perform analysis using Pandas in Python.

In [27]:
df_uncleaned = pd.read_csv('../../data/Data_science_jobs.csv')
df_uncleaned.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1

In [28]:
df_uncleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [29]:
df_uncleaned.isna().sum().sort_values(ascending = False)

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [30]:
df_uncleaned.isna().sum().sort_values(ascending = False)

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [31]:
# Check for NaN values in a specific column, in this case Job Title
column_name = 'Job Title'
nan_count = df_uncleaned[column_name].isna().sum()
print(f"Number of NaN values in {column_name}: {nan_count}")

Number of NaN values in Job Title: 0

In [32]:
# Take the column salary and make it int
column_name = 'Salary Estimate'
df_uncleaned['lower_salary'] = df_uncleaned[column_name].str.extract(r'\$(\d+)K-\$\d+K')
df_uncleaned['upper_salary'] = df_uncleaned[column_name].str.extract(r'\$\d+K-\$(\d+)K')
# convert columns to int
df_uncleaned['lower_salary'] = pd.to_numeric(df_uncleaned['lower_salary'])
df_uncleaned['upper_salary'] = pd.to_numeric(df_uncleaned['upper_salary'])
# Delete no relevant info columns
df_uncleaned.drop(columns='index', inplace=True)
df_uncleaned.drop(columns='Salary Estimate', inplace=True)
df_uncleaned.drop(columns='Founded', inplace=True)

# Show DataFrame result
df_uncleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          672 non-null    object
 1   Job Description    672 non-null    object
 2   Rating             672 non-null    float64
 3   Company Name       672 non-null    object
 4   Location           672 non-null    object
 5   Headquarters       672 non-null    object
 6   Size               672 non-null    object
 7   Type of ownership  672 non-null    object
 8   Industry           672 non-null    object
 9   Sector             672 non-null    object
 10  Revenue            672 non-null    object
 11  Competitors        672 non-null    object
 12  lower_salary       672 non-null    int64
 13  upper_salary       672 non-null    int64
dtypes: float64(1), int64(2), object(11)
memory usage: 73.6+ KB

In [33]:
# mean between upper and lower salary
df_uncleaned['Salary_estimate'] = df_uncleaned[['lower_salary', 'upper_salary']].mean(axis=1)

#Delete the upper and lower salary nad just leave the mean salary
df_uncleaned.drop(columns='lower_salary', inplace=True)
df_uncleaned.drop(columns='upper_salary', inplace=True)

df_uncleaned

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_estimate
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",154.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,154.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,154.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",154.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",154.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,136.0
668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,136.0
669,Data Scientist,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,136.0
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,136.0
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,136.0

In [34]:
# Function to clear the 'Company Name' column and delete everything after "\n".
def clean_company_name(company_name):
    if "\n" in company_name:
        return company_name.split("\n")[0]
    else:
        return company_name

# Applying the function to the column 'Company Name'.
df_uncleaned['Company Name'] = df_uncleaned['Company Name'].apply(clean_company_name)

# Get unique values from the column 'Company Name'.
unique_company = df_uncleaned['Company Name'].unique()

# Showing the first 10 unique values as an example
unique_company[:10]

array(['Healthfirst', 'ManTech', 'Analysis Group', 'INFICON',
       'Affinity Solutions', 'HG Insights', 'Novartis', 'iRobot',
       'Intuit - Data', 'XSELL Technologies'], dtype=object)

In [35]:
# Replace all data equal to "-1" and "Unknown" by NaN in all the columns
df_uncleaned['Headquarters'] = df_uncleaned['Headquarters'].replace(['-1', 'Unknown'], pd.NA)
# Get unique values from the 'Size' column
unique_size = df_uncleaned['Headquarters'].unique()
unique_size

array(['New York, NY', 'Herndon, VA', 'Boston, MA',
       'Bad Ragaz, Switzerland', 'Santa Barbara, CA',
       'Basel, Switzerland', 'Bedford, MA', 'Mountain View, CA',
       'Chicago, IL', 'Mc Lean, VA', 'Saint Louis, MO', 'Richland, WA',
       'Northbrook, IL', 'Princeton, NJ', 'Mays Landing, NJ',
       'Washington, DC', 'Memphis, TN', 'Tempe, AZ', 'Reading, PA',
       'San Francisco, CA', 'Menlo Park, CA', 'Atlanta, GA',
       'Orlando, FL', 'Lexington, MA', 'Falls Church, VA',
       'Sheboygan, WI', 'Seattle, WA', 'Bellevue, WA', 'Lincoln, NE',
       'Chantilly, VA', 'Santa Monica, CA', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Singapore, Singapore',
       'Cambridge, MA', 'OSAKA, Japan', 'Santa Clara, CA', 'Vienna, VA',
       'New Orleans, LA', 'Akron, OH', 'Zurich, Switzerland',
       'Woburn, MA', 'Carson, CA', 'Coral Gables, FL', 'San Ramon, CA',
       'Brisbane, CA', 'Winter Park, FL', 'San Rafael, CA',
       'Deerfield, IL', 'Ipswich, MA', 'Carmel, IN', 'Chevy Chase, MD',
       'Hartford, CT', 'Emeryville, CA', 'Cambridge, United Kingdom',
       'Rockville, MD', 'Minneapolis, MN', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'South Jordan, UT', 'Reston, VA', 'Denver, CO',
       'Holmdel, NJ', 'Aurora, CO', 'San Mateo, CA', 'Goleta, CA',
       'Franklin, TN', 'Indianapolis, IN', 'Lutherville Timonium, MD',
       'Westminster, CO', 'Burlingame, CA', 'Annapolis Junction, MD',
       'Bethesda, MD', 'Beavercreek, OH', 'Schaumburg, IL',
       'Sunnyvale, CA', 'Lehi, UT', 'Lake Oswego, OR', 'Holyoke, MA',
       'Dulles, VA', 'San Diego, CA', 'Detroit, MI', 'Stamford, CT',
       'Carpinteria, CA', 'Columbia, SC', <NA>, "Marcy-l'Etoile, France",
       'Columbia, MO', 'Fairfax, VA', 'Chandler, AZ', 'Aurora, Canada',
       'Blue Bell, PA', 'Troy, MI', 'Redwood City, CA', 'Greenville, SC',
       'Arlington, VA', 'Harrisburg, PA', 'Hamilton, Bermuda',
       'Lynchburg, VA', 'Springfield, MA', 'San Carlos, CA',
       'Waltham, MA', 'San Jose, CA', 'Jersey City, NJ', 'Fort Worth, TX',
       'Cedar Rapids, IA', 'McLean, VA', 'Lorton, VA', 'Maple Plain, MN',
       'Kent, WA', 'Woodbine, MD', 'San Antonio, TX', 'Scotts Valley, CA',
       'Spartanburg, SC', 'Woodbridge, NJ', 'Chennai, India',
       'Tel Aviv-Yafo, Israel', 'Baltimore, MD', 'Manalapan, NJ',
       'Charlotte, NC', 'Saxonburg, PA', 'Bristol, PA',
       'Bangalore, India', 'Hoboken, NJ', 'Paris, France',
       'Greenwich, CT', 'Santa Ana, CA', 'Houston, TX', 'Tucson, AZ',
       'Birmingham, AL', 'Cleveland, OH', 'Pleasanton, CA',
       'Columbus, OH', 'Piscataway, NJ', 'Danvers, MA',
       'Philadelphia, PA', 'Livermore, CA', 'Pittsburgh, PA',
       'Dallas, TX', 'Toronto, Canada', 'Irvine, CA', 'Hillsborough, NJ',
       'Oshkosh, WI', 'Fremont, CA', 'Monroe, WI', 'Goteborg, Sweden',
       'Lake Buena Vista, FL', 'Schaffhausen, Switzerland',
       'Richmond, VA', 'Newark, CA', 'Greensboro, NC', 'Scottsdale, AZ',
       'Irving, TX', 'Beltsville, MD', 'Naperville, IL',
       'Brentford, United Kingdom', 'Cincinnati, OH', 'Somerset, NJ',
       'London, United Kingdom', 'Raleigh, NC', 'Leesburg, VA',
       'Durham, NC', 'Kent, OH', 'Westlake Village, CA',
       'North Brunswick, NJ', 'Benicia, CA', 'Laurel, MD', 'Columbia, MD',
       'Danville, CA', 'Wilmington, MA', 'New York, 061', 'Reading, MA',
       'Folsom, CA', 'Wilsonville, OR', 'Huntsville, AL', 'Madison, WI',
       'Phila, PA', 'Winston-Salem, NC', 'Half Moon Bay, CA',
       'Los Angeles, CA', 'Hilliard, OH', 'Hanover, MD',
       'Kansas City, MO', 'Bengaluru, India', 'Alpharetta, GA',
       'Germantown, MD', 'Omaha, NE', 'Clifton Park, NY', 'Livonia, MI',
       'Ashburn, VA', 'Nashville, TN', 'Alexandria, VA', 'Edison, NJ',
       'Ventura, CA', 'Armonk, NY', 'Trumbull, CT', 'Chadds Ford, PA',
       'Saint Paul, MN', 'Glen Allen, VA', 'Aliso Viejo, CA',
       'Plainsboro, NJ', 'Fairmont, WV', 'Cherry Hill, NJ', 'Itasca, IL',
       'Coconut Creek, FL', 'Lombard, IL', 'Honolulu, HI',
       'Carle Place, NY', 'Cupertino, CA', 'Tampa, FL', 'Totowa, NJ',
       'Rome, NY', 'Milan, IL', 'Marbella, Spain', 'Simi Valley, CA',
       'Rancho Cucamonga, CA', 'Albuquerque, NM', 'Langley, VA',
       'Plano, TX', 'Albertville, AL', 'Orange, CA', 'Littleton, CO',
       'Oakville, Canada', 'San Bruno, CA', 'West Chester, PA',
       'Utica, MI', 'Fort Lee, NJ'], dtype=object)

In [36]:
# Replace all data equal to "-1" and "Unknown" by NaN in all the columns
df_uncleaned['Size'] = df_uncleaned['Size'].replace(['-1', 'Unknown'], pd.NA)
# Get unique values from the 'Size' column
unique_size = df_uncleaned['Size'].unique()
unique_size

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', <NA>], dtype=object)

In [37]:
# Replace all data equal to "-1" and "Unknown" by NaN in all the columns
df_uncleaned['Type of ownership'] = df_uncleaned['Type of ownership'].replace(['-1', 'Unknown'], pd.NA)
# Get unique values from the 'Size' column
unique_size = df_uncleaned['Type of ownership'].unique()
unique_size

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', <NA>,
       'Hospital', 'Self-employed', 'College / University', 'Contract'],
      dtype=object)

In [38]:
# Replace all data equal to "-1" and "Unknown" by NaN in all the columns
df_uncleaned['Industry'] = df_uncleaned['Industry'].replace(['-1', 'Unknown'], pd.NA)
# Get unique values from the 'Size' column
unique_size = df_uncleaned['Industry'].unique()
unique_size

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', <NA>, 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

In [39]:
# Replace all data equal to "-1" and "Unknown" by NaN in all the columns
df_uncleaned['Sector'] = df_uncleaned['Sector'].replace(['-1', 'Unknown'], pd.NA)
# Get unique values from the 'Size' column
unique_size = df_uncleaned['Sector'].unique()
unique_size

array(['Insurance', 'Business Services', 'Manufacturing',
       'Information Technology', 'Biotech & Pharmaceuticals', 'Retail',
       'Oil, Gas, Energy & Utilities', 'Government', 'Health Care',
       'Finance', 'Aerospace & Defense', <NA>,
       'Transportation & Logistics', 'Media', 'Telecommunications',
       'Real Estate', 'Travel & Tourism', 'Agriculture & Forestry',
       'Education', 'Accounting & Legal', 'Non-Profit',
       'Construction, Repair & Maintenance', 'Consumer Services'],
      dtype=object)

In [40]:
# Replace all data equal to "-1" and "Unknown" by NaN in all the columns
df_uncleaned['Revenue'] = df_uncleaned['Revenue'].replace(['-1', 'Unknown'], pd.NA)
# Get unique values from the 'Size' column
unique_size = df_uncleaned['Revenue'].unique()
unique_size

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)', <NA>], dtype=object)

In [41]:
# Replace all data equal to "-1" and "Unknown" by NaN in all the columns
df_uncleaned['Competitors'] = df_uncleaned['Competitors'].replace(['-1', 'Unknown'], pd.NA)
# Get unique values from the 'Size' column
unique_size = df_uncleaned['Competitors'].unique()
unique_size

array(['EmblemHealth, UnitedHealth Group, Aetna', <NA>,
       'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies',
       'Commerce Signals, Cardlytics, Yodlee',
       'Square, PayPal, H&R Block',
       'Leidos, CACI International, Booz Allen Hamilton',
       'Slalom, Daugherty Business Solutions',
       'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory',
       'CDW, PCM, SHI International',
       'Crossix Solutions Inc., AppNexus, The Trade Desk',
       'Northwestern Mutual', 'Puppet, Ansible, SaltStack',
       'Enlivant, Sunrise Senior Living, Brookdale Senior Living',
       'TrueCar, Cars.com, Kelley Blue Book',
       'Travelers, Allstate, State Farm', 'Novartis, Baxter, Pfizer',
       'Skyhigh Networks, Zscaler, NortonLifeLock',
       'Facebook, Google, Pinterest', 'DoorDash, Uber, Grubhub',
       'Munich Re, Hannover RE, SCOR', "IMAGE Skincare, Aveda, Kiehl's",
       'Luxoft, EPAM, Capgemini Invent', 'Sequenom',
       'Linqia, Collective Bias', 'John Deere, Komatsu, CNH Industrial',
       'Thermo Fisher Scientific, Enzymatics, Illumina',
       'CUNA Mutual, SWBC, Overby-Seawell', 'Zola Registry',
       'Colony Specialty, Markel, RLI',
       'Roche, GlaxoSmithKline, Novartis',
       'Solution Design Group, Intertech (Minnesota)',
       'Braintree, Authorize.Net, PayPal', 'Nielsen, Zappi, SurveyMonkey',
       'The World Bank, IMF', 'Booz Allen Hamilton, CACI International',
       'Booz Allen Hamilton, SAIC, LMI', 'Epic, CipherHealth',
       'Copper River Shared Services, Chenega Corporation, Deloitte',
       'Battelle, General Atomics, SAIC', 'IQVIA, ICON',
       'Arbella Insurance, Safety Insurance',
       'Engagio, Bombora, Terminus', 'SAIC, Leidos, Northrop Grumman',
       'Bosch, Lear Corporation, Faurecia', 'Covance, ICON',
       'Adecco, ManpowerGroup, Allegis Corporation',
       'GE Digital, Palantir Technologies, Uptake', 'PRA Group',
       'Genomic Health, 23andMe, Illumina',
       'Bromium, FireEye, Authentic8', 'Drip, iContact, Mailchimp',
       "Children's Health, Texas Health Resources, Baylor Scott & White Health",
       'Harris, Fibertek', 'Monster Worldwide, CareerBuilder, Craigslist',
       'Los Alamos National Laboratory, Battelle, SRI International',
       'ManTech, Booz Allen Hamilton, Leidos',
       'Lumentum Operations, Keysight Technologies, O-Net Technologies',
       'Square, Amazon, Apple', 'Pfizer, GlaxoSmithKline',
       'DHL Supply Chain, UPS, FedEx',
       'Raytheon Technologies, General Dynamics, MIT Lincoln Laboratory',
       'Eaton, SMC Corporation, Bosch Rexroth',
       'Advisory Board, Booz Allen Hamilton, McKinsey & Company',
       'Amazon, Apple', 'Covidien, Boston Scientific', 'AT&T, Verizon',
       'Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories',
       'Fluor, Bechtel, AECOM', 'Intertek, SGS, Bureau Veritas',
       'Lockheed Martin, Caterpillar, John Deere',
       'Activision Blizzard, Electronic Arts',
       'MediaMath, Conversant, AppNexus', 'Pfizer, AstraZeneca, Merck',
       'Archibus, iOffice, Planon',
       'ACRT Services, Bartlett Tree Experts',
       'TASC, Vencore, Booz Allen Hamilton',
       'Seagate Technology, Toshiba',
       'Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton',
       'MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman',
       'Kforce, PageGroup, Robert Half',
       'TEKsystems, Kforce, Randstad US',
       'South Carolina Electric & Gas, Virginia Electric and Power',
       'Cadence Design Systems, Synopsys, Altium Limited',
       'CGI (Nevada), Accenture, Deloitte', 'Accenture, Deloitte, PwC',
       'Bechtel Jacobs, Black & Veatch, HNTB', 'Adecco, Manpower',
       'Acxiom, Merkle, Epsilon (North Carolina)',
       'Amazon, Accenture, Microsoft',
       'Booz Allen Hamilton, Deloitte, ERPi',
       'TEKsystems, Insight Global, Accenture',
       'H&M, Inditex, Fast Retailing',
       'Novartis, AstraZeneca, Siemens Healthineers',
       'Aquent, 24 Seven Talent',
       'Google, Microsoft, Samsung Electronics',
       'AppDynamics, Datadog, Dynatrace',
       'Liberty Mutual Insurance, EMPLOYERS, Travelers',
       'KPMG, Accenture, Deloitte',
       'General Atomics, Boeing, Northrop Grumman',
       'Los Alamos National Laboratory, Lawrence Livermore National Laboratory',
       'Cognizant Technology Solutions, Infosys, Wipro', 'Humana',
       'Accenture, Northrop Grumman, Xerox',
       'United Natural Foods, US Foods, DPI Specialty Foods',
       'LivePerson, Salesforce, SAP', 'Zurich Insurance, AXA XL, Allianz',
       'CSC, ManTech, SAIC',
       'Genomic Health, Myriad Genetics, The Broad Institute'],
      dtype=object)

In [42]:
df_uncleaned

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,Salary_estimate
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",154.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),<NA>,154.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),<NA>,154.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",154.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",154.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,<NA>,136.0
668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,136.0
669,Data Scientist,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,136.0
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),<NA>,136.0
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),<NA>,136.0